.card {
  background-color: var(--bg-card);
  border-radius: var(--radius);
  overflow: hidden;
  box-shadow: var(--shadow);
  transition: transform 0.3s ease;
  cursor: pointer;
  height: 100%; /* Карточка занимает всю высоту ячейки */
  display: flex;
  flex-direction: column;
}

.card:hover {
  transform: translateY(-10px);
}

.image {
  width: 100%;
  height: auto;
  /* Магия адаптивности: задаем пропорции 2 к 3 (как постеры) */
  aspect-ratio: 2 / 3; 
  object-fit: cover;
  display: block;
}

.content {
  padding: 15px;
}

.title {
  font-size: 16px;
  margin-bottom: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; /* Если название длинное, ставим ... */
}

.meta {
  display: flex;
  justify-content: space-between;
  color: var(--text-secondary);
  font-size: 14px;
}