.card {
  background-color: var(--bg-card);
  border-radius: var(--radius);
  overflow: hidden;
  box-shadow: var(--shadow);
  transition: transform 0.3s ease;
  cursor: pointer;
  height: 100%; /* Карточка занимает всю высоту ячейки */
  display: flex;
  flex-direction: column;
  position: relative;
}

.card:hover {
  transform: translateY(-10px);
}

.image {
  width: 100%;
  height: auto;
  /* Магия адаптивности: задаем пропорции 2 к 3 (как постеры) */
  aspect-ratio: 2 / 3; 
  object-fit: cover;
  display: block;
}

.content {
  padding: 15px;
}

.title {
  font-size: 16px;
  margin-bottom: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; /* Если название длинное, ставим ... */
}

.meta {
  display: flex;
  justify-content: space-between;
  color: var(--text-secondary);
  font-size: 14px;
}

.likebtn {
  position: absolute;
  background-color: transparent;
  border: transparent;
  top: 5px;
  right: 5px;
  transition:  0.2s ease-in-out;
  -webkit-transition:  0.2s ease-in-out;
  -moz-transition:  0.2s ease-in-out;
  -ms-transition:  0.2s ease-in-out;
  -o-transition:  0.2s ease-in-out;
}

.likebtn:hover {
  cursor: pointer;
  transform: scale(1.07);
  -webkit-transform: scale(1.07);
  -moz-transform: scale(1.07);
  -ms-transform: scale(1.07);
  -o-transform: scale(1.07);
}

.iconbtn {
  fill: rgb(110, 110, 110);
}

.liked {
  transition: 0.2s ease-in-out;
  color: black;
  fill:#ff0000;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
}

.link {
  text-decoration: none;
  color: inherit;
  display: block;
}