.header {
    background-color: var(--bg-secondary);
    padding: 20px 0;
    position: sticky;
    top: 0;
    z-index: 10;
    box-shadow: var(--shadow);
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: var(--accent);
}

.nav {
    display: flex;
    gap: 20px;
}

.link {
    transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -ms-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
}

.link:hover {
  color: var(--text-secondary);
}

.active {
  color: var(--text-primary);
  font-weight: 600;
  border-bottom: 2px solid var(--accent);
}

.logo a {
    transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -ms-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
}

.logo a:hover {
    color: rgb(250, 69, 69);
}