.wrapper {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}

.input {
  width: 100%;
  max-width: 400px;
  padding: 12px 20px;
  font-size: 16px;
  border: 2px solid var(--bg-card);
  border-radius: var(--radius);
  background-color: var(--bg-secondary);
  color: var(--text-primary);
  outline: none;
  transition: border-color 0.3s;
}

.input:focus {
  border-color: var(--accent);
}

.input::placeholder {
  color: var(--text-secondary);
}