.grid {
  display: grid;
  /* Ограничиваем ширину колонки от 200 до 300px */
  grid-template-columns: repeat(auto-fill, minmax(200px, 300px)); 
  gap: 20px;
  justify-content: center; /* Центрируем карточки, если их мало */
  list-style: none;
  padding: 0;
  margin: 0;
}